<a href="https://colab.research.google.com/github/ljunior456/Python-/blob/main/VISUALIZA%C3%87%C3%83O_DE_DADOS_EM_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import sqlite3
conexao = sqlite3.connect('Dados_vendas.db')

cursor = conexao.cursor()

cursor.execute('''
CREATE TABLE vendas1 (
id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
data_venda DATE,
produto TEXT,
categoria TEXT,
valor_venda REAL
)
''')

In [ ]:
cursor.execute('''
INSERT INTO vendas1 (data_venda, produto, categoria, valor_venda) VALUES
('2023-01-01', 'Produto A', 'Eletrônicos', 1500.00),
('2023-01-05', 'Produto B', 'Roupas', 350.00),
('2023-02-10', 'Produto C', 'Eletrônicos', 1200.00),
('2023-03-15', 'Produto D', 'Livros', 200.00),
('2023-03-20', 'Produto E', 'Eletrônicos', 800.00),
('2023-04-02', 'Produto F', 'Roupas', 400.00),
('2023-05-05', 'Produto G', 'Livros', 150.00),
('2023-06-10', 'Produto H', 'Eletrônicos', 1000.00),
('2023-07-20', 'Produto I', 'Roupas', 600.00),
('2023-08-25', 'Produto J', 'Eletrônicos', 700.00),
('2023-09-30', 'Produto K', 'Livros', 300.00),
('2023-10-05', 'Produto L', 'Roupas', 450.00),
('2023-11-15', 'Produto M', 'Eletrônicos', 900.00),
('2023-12-20', 'Produto N', 'Livros', 250.00);
''')

In [ ]:
conexao.commit()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import calendar
#df_vendas = pd.read_sql_query('SELECT * FROM vendas1', conexao)



print("""
  Menu
  01-Vendas de uma Categoria Específica
  02-Venda totais por categoria
  03-Vendas por Mês
  04-Sair
"""
)
while True:
  opcao = int(input("Digite a Opção Desejada:"))
#OPÇÃO 1: Vendas de uma Categoria Específica
  if opcao == 1:
    cat = {1:'Eletrônicos',2:'Roupas',3:'Livros'}
    print("""
      Categorias:
      01-Eletrônicos
      02-Roupas
      03-Livros
    """)
    categoria_desejada = int(input("Digite a Categoria Desejada:"))
    if categoria_desejada in cat:
      categoria_nome = cat[categoria_desejada]
      df_vendas = pd.read_sql_query("SELECT * FROM vendas1 WHERE categoria = ?", conexao, params=(categoria_nome,))
      #Gráfico
      plt.bar(df_vendas['produto'],df_vendas['valor_venda'])
      plt.xlabel('Produtos')
      plt.ylabel('Valor Vendido em R$')
      plt.title(f'Vendas de {categoria_nome}')
      plt.show()
    else:
      print("Categoria Inválida")
#OPÇÃO 2:Venda totais por categoria
  elif opcao ==  2:
    df_vendas = pd.read_sql_query('SELECT categoria,SUM(valor_venda) AS total_vendas FROM vendas1 GROUP BY categoria',conexao)
    #Gráfico
    plt.bar(df_vendas['categoria'],df_vendas['total_vendas'])
    plt.xlabel('Categorias')
    plt.ylabel('Total de Vendas')
    plt.title('Total de Vendas por Categoria')
    plt.show()
#OPÇÃO 3: Vendas por Mês
  elif opcao == 3:
    query = '''SELECT strftime('%m', data_venda) AS mes_num, SUM(valor_venda) AS total_venda FROM vendas1
            GROUP BY mes_num
            ORDER BY mes_num
           '''
    df_vendas = pd.read_sql_query(query,conexao)
    df_vendas['mes_nome'] =  df_vendas['mes_num'].astype(int).apply(lambda x:calendar.month_name[x])
    plt.bar(df_vendas['mes_nome'],df_vendas['total_venda'])
    plt.xlabel('Mês')
    plt.ylabel('Total de Vendas')
    plt.title('Total de Vendas poe Mês')
    plt.xticks(rotation=45)
    plt.show()
#OPÇÃO 4:SAIR
  elif opcao == 4:
    print("Obrigado por usar o programa !")
    break
#OPÇÃO INVÁLIDA
  else:
    print("Opção Inválida")

  Menu
  01-Vendas de uma Categoria Específica
  02-Venda totais por categoria
  03-Vendas por Mês
  04-Sair

Digite a Opção Desejada:4
Obrigado por usar o programa !